* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    font-family: 'Comfortaa', cursive;
}
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
header ul {
    list-style-type: none;
}
header nav li {
    display: inline-block;
}
header nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem;
    margin: 1rem;
}

main{
    display: flex;
}
.left {
   background-color: darkmagenta;
   flex: 1; 
   align-items: center;
}
.right {
    background-color: salmon;
    flex: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    background-color: #fff;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    padding: 1rem;
    margin: 1rem;
}
.hero-banner {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url() no-repeat center center/cover fixed;
    
}
